@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Young+Serif&display=swap');

.margin{
 margin-top: 0;
  margin-bottom: 0;
   margin-left: 1rem;
}
.inner-container{
    margin: 1rem;
}
.Img{
margin: 1.75rem;
}
.card-container{
    display: flex;
    justify-content: center;
}

.card{
    margin-top: 3.5rem;
   
}


.header-heading{
     font-family: "young-serif";
  font-weight: bolder;
  font-size: 2.5rem;

 color: hsl(24, 5%, 18%);

}

.small-para{
  margin-top: 1.5rem;
  color: hsl(30, 10%, 34%);
  font-size: 16px;

}

.preparation-time{
    background-color: hsl(330, 100%, 98%);
    margin-top: 1.5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.main-headings{
    color: hsl(14, 45%, 36%)
;
 font-family: "young-serif";
  font-weight: bolder;
  font-size: 2rem;
}

li{
   margin-top: 0.75rem;
}

